@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

:root {
  --bgcolor: #999;
  --bgcolor2: #444;
  --clr: #003;
  --martop:  33px;
}

body, main {
  font-family: 'Mate SC', serif;
}

@media screen and (min-width: 521px){

header {
    background-color: var(--bgcolor);
    height: var(--martop);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
#navbar {
  position: fixed;
  float: right;
  top: 0;
  right: 0;
  background-color: var(--bgcolor);
  border: 2px solid var(--bgcolor);
  padding: 5px 5px 5px 5px;
}

a {
  text-decoration: none;
  color: var(--clr);
}
  
 span {
   visibility: hidden;
   position: absolute;
   left: -999em;
  }
}

@media screen and (max-width: 520px){ /*amikor a legnagyobb kepernyo meret 360px akkor lepjen eletbe ez a stilus*/
  
  header{
    background-color: var(--bgcolor);
    height: var(--martop);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #navbar { /*a navbar teljesen eltunik az oldal lathatosagabol, meg helyet sem foglal*/
    visibility: hidden;
    left: -999em;
  }
  
  i { 
    visibility: visible;
    position: fixed;
    float: right;
    top: 0;
    right: 10px;
  } 
  
  i:hover {
    background-color: var(--bgcolor);
  }
  
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px solid var(--bgcolor);
    padding: 15px 10px 15px 10px;
    background-color: var(--bgcolor2);
    color: var(--clr);
    text-decoration: none;
  }
  
  a:hover {
    background-color: var(--bgcolor);
  }
  
  span:hover {
    visibility: visible;
    position: fixed;
    float:  right;
    top: 0;
    right: 0;
  }

  #home {
    margin-top: var(--martop);
  }
}